@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #E0EAFC, #CFDEF3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #333333;
    overflow-x: hidden;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

main {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

.internship-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem;
}

.internship-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3), 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
    padding: 1rem;
    position: relative; 
}

.internship-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--accent-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.internship-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.5), 0 5px 15px rgba(0,0,0,0.3);
}

.internship-card:hover::before {
    transform: scaleX(1);
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    color: var(--accent-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.internship-details {
    list-style-type: none;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.internship-details li {
    margin-bottom: 0.5rem;
}

.description {
    margin-bottom: 1.5rem;
    line-height: 1.4;
    font-size: 0.9rem;
}

button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: auto;
}

button:hover {
    transform: translateY(-7px);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .internship-details {
        font-size: 0.8rem;
    }

    .description {
        font-size: 0.8rem;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .internship-grid {
        grid-template-columns: 1fr; 
        gap: 1.5rem;
    }
}
